.css-view-1dbjc4n.r-backgroundColor-1niwhzg.r-backgroundPosition-vvn4in.r-backgroundRepeat-u6sd8q.r-backgroundSize-4gszlv.r-bottom-1p0dtai.r-height-1pi2tsx.r-left-1d2f490.r-position-u8s1d.r-right-zchlnj.r-top-ipm5af.r-width-13qz1uu.r-zIndex-1wyyakw {
    background-size: contain !important;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
.css-view-1dbjc4n.r-flexBasis-1mlwlqe.r-overflow-1udh08x.r-width-13qz1uu.r-zIndex-417010 {
    height: 100%;
}
.css-view-1dbjc4n.r-bottom-1p0dtai.r-flexBasis-1mlwlqe.r-left-1d2f490.r-overflow-1udh08x.r-position-u8s1d.r-right-zchlnj.r-top-ipm5af.r-width-13qz1uu.r-zIndex-1wyyakw .css-view-1dbjc4n.r-backgroundColor-1niwhzg.r-backgroundPosition-vvn4in.r-backgroundRepeat-u6sd8q.r-backgroundSize-4gszlv.r-bottom-1p0dtai.r-height-1pi2tsx.r-left-1d2f490.r-position-u8s1d.r-right-zchlnj.r-top-ipm5af.r-width-13qz1uu.r-zIndex-1wyyakw {
    background-size: cover !important;
    background-position: left top;
    background-attachment: fixed;
}
.css-view-1dbjc4n.r-flexBasis-1mlwlqe.r-height-1pi2tsx.r-overflow-1udh08x.r-width-13qz1uu.r-zIndex-417010 .css-view-1dbjc4n.r-backgroundColor-1niwhzg.r-backgroundPosition-vvn4in.r-backgroundRepeat-u6sd8q.r-backgroundSize-4gszlv.r-bottom-1p0dtai.r-height-1pi2tsx.r-left-1d2f490.r-position-u8s1d.r-right-zchlnj.r-top-ipm5af.r-width-13qz1uu.r-zIndex-1wyyakw {
    background-size: cover !important;
}
.css-view-1dbjc4n.r-bottom-1p0dtai.r-left-1d2f490.r-position-u8s1d.r-right-zchlnj.r-top-ipm5af.r-zIndex-417010 {
    background-color: transparent !important;
}
.r-color-ew806g {
    color: #edf0f5c2;
}
.css-view-1dbjc4n.r-cursor-1loqt21.r-touchAction-1otgn73.r-transitionProperty-1i6wzkk.r-userSelect-lrvibr {
    z-index: 3;
}
body{
    font-family: 'Circular-Loom';
    
}
iframe {
    display: none;
}
.css-view-1dbjc4n.r-cursor-1loqt21.r-left-ws9h79.r-position-u8s1d.r-top-1ki14p2.r-touchAction-1otgn73.r-transitionProperty-1i6wzkk.r-userSelect-lrvibr {
    z-index: 1;
}
.css-view-1dbjc4n.r-flex-13awgt0.r-flexBasis-1mlwlqe.r-justifyContent-1777fci.r-overflow-1udh08x.r-width-13qz1uu.r-zIndex-417010 .css-view-1dbjc4n.r-backgroundColor-1niwhzg.r-backgroundPosition-vvn4in.r-backgroundRepeat-u6sd8q.r-backgroundSize-4gszlv.r-bottom-1p0dtai.r-height-1pi2tsx.r-left-1d2f490.r-position-u8s1d.r-right-zchlnj.r-top-ipm5af.r-width-13qz1uu.r-zIndex-1wyyakw {
    background-size: cover !important;
}
/* .bodydiv{
    background-color: #1d1d1d;
} */
.css-view-1dbjc4n.r-flexBasis-1mlwlqe.r-overflow-1udh08x.r-position-bnwqim img {
    position: relative;
    width: 60%;
}
.css-view-1dbjc4n.r-flexDirection-18u37iz .css-view-1dbjc4n.r-borderRadius-z2wwpe.r-height-9njtsq.r-marginRight-1kb76zh.r-overflow-1udh08x.r-width-i5rf1b .css-view-1dbjc4n.r-backgroundColor-1niwhzg.r-backgroundPosition-vvn4in.r-backgroundRepeat-u6sd8q.r-backgroundSize-4gszlv.r-bottom-1p0dtai.r-height-1pi2tsx.r-left-1d2f490.r-position-u8s1d.r-right-zchlnj.r-top-ipm5af.r-width-13qz1uu.r-zIndex-1wyyakw {
    background-size: cover !important;
}


@media only screen and (max-width: 768px) {

    .css-view-1dbjc4n.r-bottom-1p0dtai.r-flexBasis-1mlwlqe.r-left-1d2f490.r-overflow-1udh08x.r-position-u8s1d.r-right-zchlnj.r-top-ipm5af.r-width-13qz1uu.r-zIndex-1wyyakw .css-view-1dbjc4n.r-backgroundColor-1niwhzg.r-backgroundPosition-vvn4in.r-backgroundRepeat-u6sd8q.r-backgroundSize-4gszlv.r-bottom-1p0dtai.r-height-1pi2tsx.r-left-1d2f490.r-position-u8s1d.r-right-zchlnj.r-top-ipm5af.r-width-13qz1uu.r-zIndex-1wyyakw {
        background-position: center;
    }
    .css-view-1dbjc4n.r-alignItems-1awozwy.r-flex-13awgt0.r-height-1pi2tsx.r-justifyContent-1777fci.r-width-13qz1uu {
        width: 100% !important;
        max-width: 93% !important;
    }
}